p{
  margin: 0;
  padding: 0;
}

h1 {
    font-size: 35px;
    text-align: center;
}
#mueble{
  color: #037BC0;
}

#hero{
  background-image: url(/images/tempo_ad_mueble.webp);
  background-position: 25rem;
  background-repeat:repeat;
  width: 100%;
  height: 60px;
  color: aqua;

    /* background-color: rgb(100, 99, 99) ;
    color: #ffffff;
    height: 20%;
    padding-top:2%;
    padding-bottom: 2%;
    background-image: url();
    background-image: url("images/distribucion-muebleria-opt.jpg"); */
  }

  body {
    font-family: 'Playfair Display', serif;
  }

  #prod {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
  }

  .contenedor{
    display: grid;
    width: 100%;
    margin: 20px;
    padding: 40px 0;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(3 1fr);
    grid-template-areas: 
     "head head head"
     "mid mid mid"
     "foot foot foot";
     /* background-color: aquamarine; */
   }
  .grid1 {
    display: grid;
    grid-area: head;
    grid-template-columns: 1fr ;
    padding: 10px;
    /* background-color: #af9d4c; */
  }
  .grid2 {
    display: grid;
    grid-area: mid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    /* gap: 15px; */
    padding: 10px;
    /* background-color: greenyellow; */
  }
  .grid3 {
    display: grid;
    grid-area: foot;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    gap: 15px;
    padding: 10px;
    /* background-color: #6f4caf; */
  }

  #cont-catego {
    width: 100%;
    margin: 20px;
   }
  .foot {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    gap: 15px;
    padding: 10px;
  }

  .imaprod {
    width: 400px;
    height: 250px;
    gap: 0;
  }

  #pesos {
    font-weight: 700;
    font-size: large;
    color: red;
  }


   mi-boton {
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 15px 32px; /* Espaciado alrededor del texto */
    font-size: 16px; /* Tamaño del texto */
    border: none; /* No mostrar bordes */
    cursor: pointer; /* Cambiar el cursor a una mano al pasar sobre el botón */
    border-radius: 5px; /* Bordes redondeados */
    appearance:inherit;
    gap: 15px;
  }
  
  #text-h2{
    text-align: center;
  }

  .catego{
    text-align: center;
  }
  #catego2{
    text-align: center;
    font-size: large;
  }

  #txtfoot{
    font: 1em sans-serif;
    font-weight: bold;
  }
  #derechos{
    text-align: center;
  }

   nav  ul{
      display: flex;
      gap: 30px;
      list-style: none;
   }
   img{
    gap: 40px;
   }

   #prod{
    text-align: center;
    font-weight: bold;
   }


@media all and (max-width:768px){ 
  .grid2, .grid3{
    grid-template-columns: 1fr;
  }

}
