p{
  margin: 0;
  padding: 0;
}

h1 {
    font-size: 35px;
    text-align: center;
}
#mueble{
  color: #037BC0;
}

#hero{
    background-color: rgb(100, 99, 99) ;
    color: #ffffff;
    height: 20%;
    padding-top:2%;
    padding-bottom: 2%;
  }

  body {
    font-family: 'Playfair Display', serif;
  }

  #prod {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
  }

  .grid1 {
    display: grid;
    grid-template-columns: 1fr ;
    justify-content: space-evenly;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
   }
  .grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
  }

  .prod {
    width: 400px;
    height: 250px;
    gap: 0;
  }

  #pesos {
    font-weight: 700;
    font-size: large;
    color: red;
  }


   .contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
    gap: 10px;
   }

   mi-boton {
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 15px 32px; /* Espaciado alrededor del texto */
    font-size: 16px; /* Tamaño del texto */
    border: none; /* No mostrar bordes */
    cursor: pointer; /* Cambiar el cursor a una mano al pasar sobre el botón */
    border-radius: 5px; /* Bordes redondeados */
    appearance: inherit;
  }
  
  #text-h2{
    text-align: center;
  }

  #catego{
    text-align: center;
  }
  #catego2{
    text-align: center;
    font-size: large;
  }

  #txtfoot{
    font: 1em sans-serif;
    font-weight: bold;
  }
  #derechos{
    text-align: center;
  }


   nav  ul{
      display: flex;
      gap: 30px;
      list-style: none;
   }
   img{
    gap: 40px;
   }

   @media all and (max-width: 800px){
      nav ul{
        flex-direction: column;
        margin: 0;
        padding: 0;
      }
      li a{
        flex-direction: column;
        background-color: aquamarine;
        display: block;
        padding: 10px 10px;
      }
      footer{
        grid-template-columns: 1fr;
      }
   }

